
.post
  font-size 1.1em
  line-height 1.6em

  header
    padding-bottom 20px

    time
      font-style italic

  h1
    font-size 30px

  .entry
    text-align: justify

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p
      padding 10px 0 10px 0

    pre code
      display block
      margin 10px 0
      padding 10px

    code
      background #fafafa
      border 1px solid #ccc

    ul
      padding 10px 0 10px 20px

  footer
    margin-top 20px
    border-top 1px solid #ccc
