
#header
  background #fafafa
  border-bottom 2px solid #ccc
  padding-bottom 35px
  position relative

  h1 a
    color #4086E6
    font-size 40px
    text-decoration none

  nav
    position absolute
    bottom 0
    left 0
    right 0

  nav ul
    background #888
    list-style none

    a
      color #fafafa
      display block
      padding 7px 10px
      text-decoration none

      &:hover
        text-decoration underline

@media screen and (min-width: 600px)
  #header
    overflow hidden
    padding-bottom 0

    h1
      float left

    nav
      float right
      position static

      ul li
        float left

        a
          color #4086E6
          padding 17px
          &:last-child
            padding-right 0
