
.twitter,
.about,
.github
  h1
    margin-bottom 10px

.twitter,
.about
  text-align justify

.twitter,
.github
  ul
    list-style none

    a
      display block
      padding 5px
      border 0
      overflow hidden

      &:hover
        border-radius 5px
        background #4086E6
        color #e7e7e7
        text-decoration none

.twitter ul a
  margin-bottom: 10px

.about,
.github
  padding-top 20px

.about
  p
    margin-bottom: 10px

.github
  clear left
  overflow hidden
  padding-bottom 20px
  border-bottom 1px solid #ccc

  li
    float left

@media screen and (min-width: 700px)
  .twitter,
  .about
    box-sizing border-box
    float left

  .twitter
    padding-right 20px
    width 60%

  .about
    padding 0 0 0 20px
    width 40%
