
*
  padding 0
  margin 0

body
  color #444
  font normal 0.9em 'Ubuntu', sans-serif
  background #e3e3e3

.inner
  max-width 700px
  margin 0 auto
  padding 0 30px

#content
  padding-top: 40px

a
  color #888
  text-decoration none

  &:hover
    text-decoration underline

h1,
h2,
h3,
h4,
h5,
h6
  font normal 20px 'Trocchi', serif

.alignleft
  float left

.alignright
  float right
